@import '../../variables.sass'
    
$desktopCountColumns: 12
$desktopColumns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
$desktopContentWidth: 1312px
$desktopColumnIndent: 16px

$tabletCountColumns: 8
$tabletColumns: 1, 2, 3, 4, 5, 6, 7, 8
$tabletContentWidth: 928px
$tabletColumnIndent: 16px

$mobileCountColumns: 4
$mobileColumns: 1, 2, 3, 4
$mobileContentWidth: 424px
$mobileColumnIndent: 12px
    
.columns
    max-width: $desktopContentWidth
    margin: 0 auto
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-wrap: wrap
    width: 100%
    @media screen and (max-width: $tabletMaxWidth)
        &
            max-width: $tabletContentWidth !important
    @media screen and (max-width: $mobileMaxWidth)
        &
            max-width: $mobileContentWidth !important
    &_vertical
        &-center
            align-items: center
        &-end
            align-items: flex-end
    &_horizontal
        &-center
            justify-content: center
        &-end
            justify-content: flex-end
        &-stretch
            align-items: stretch
    &__column
        width: 100%
        padding: 0 #{$desktopColumnIndent}
        &_vertical
            &-center
                display: flex
                align-items: center
            &-end
                display: flex
                align-items: flex-end
        &_horizontal
            &-center
                display: flex
                justify-content: center
            &-end
                display: flex
                justify-content: flex-end
        .columns
            margin: 0 -#{$desktopColumnIndent}
        @each $desktopColumn in $desktopColumns
            &_desktop-#{$desktopColumn}
                width: #{calc($desktopColumn / $desktopCountColumns * 100) + "%"}
        @media screen and (max-width: $tabletMaxWidth)
            .columns
                margin: 0 -#{$tabletColumnIndent}
            &
                width: 100% !important
            @each $tabletColumn in $tabletColumns
                &_tablet-#{$tabletColumn}
                    width: #{calc($tabletColumn / $tabletCountColumns * 100) + "%"} !important
        @media screen and (max-width: $mobileMaxWidth)
            .columns
                margin: 0 -#{$mobileColumnIndent}
            &
                width: 100% !important
                padding: 0 #{$mobileColumnIndent} !important
            @each $mobileColumn in $mobileColumns
                &_mobile-#{$mobileColumn}
                    width: #{calc($mobileColumn / $mobileCountColumns * 100) + "%"} !important

