@import '../../variables.sass'

@mixin close($color)
    width: 24px
    height: 24px
    display: flex
    flex-wrap: wrap
    align-content: center
    cursor: pointer
    &::after,
    &::before
        content: ""
        width: 100%
        height: 2px
        background: $color
    &::after
        transform: translateY(-1px) rotate(45deg) 
    &::before
        transform: translateY(1px) rotate(-45deg)
    
.card-window
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: #b2cfd3
    background-image: url('images/background.jpg')
    background-size: cover
    padding: 8px
    display: flex
    align-items: stretch
    justify-content: space-between
    z-index: 100
    &__blank
        width: 760px
        max-width: 760px
        background: $color-white
        padding: 24px 56px 40px 56px
        display: flex
        flex-wrap: wrap
        align-content: space-between
        &__top
            width: 100%
        @media screen and (max-width: $tabletMaxWidth)
            &
                padding: 24px
            &__close
                @include close($color-black)
    &__close
        @include close($color-white)
        @media screen and (max-width: $tabletMaxWidth)
            display: none
    &__phone
        font-size: 18px
        line-height: 28px
        text-decoration: none
        color: $color-black
        font-weight: 500
        transition: 0.3s
        &:hover
            opacity: 0.5
    &__link
        display: flex
        align-items: center
        text-decoration: none
        transition: 0.3s
        &:hover
            opacity: 0.5
        &__icon
            background: $color-white
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
            margin: 0 24px 0 0
            width: 48px
            height: 48px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            &__picture
                width: 16px
                height: 16px
        &__text
            color: $color-purple
            font-size: 16px
            line-height: 24px
    &__open-animation
        will-change: transform
        &-enter 
            opacity: 0
            transform: scale(0.95)
        &-enter-active
            opacity: 1
            transform: scale(1)
            transition: opacity 300ms, transform 300ms
        &-exit 
            opacity: 1
            transform: scale(1)
        &-exit-active
            opacity: 0
            transform: scale(0.95)
            transition: opacity 300ms, transform 300ms