@import '../../variables.sass'
    
.checkbox
    position: relative
    display: flex
    cursor: pointer
    user-select: none
    &__input
        opacity: 0
        appearance: none
        position: absolute
        left: 0
        top: 0
        width: 0
        height: 0
        &:checked ~ .checkbox__square
            border: 2px solid $color-purple
            background: $color-purple
        &:checked ~ .checkbox__text
            color: $color-black
    &:hover &__square
        border: 2px solid $color-purple
    &:hover &__text
        color: $color-black
    &__square
        min-width: 24px
        width: 24px
        height: 24px
        margin: 0 16px 0 0
        border: 2px solid $color-medium-grey
        display: flex
        align-items: center
        justify-content: center
        transition: 0.3s
        &__icon
            width: 60%
    &__text
        color: $color-grey
        font-size: 16px
        line-height: 24px
        padding: 2px 0 0 0
    &__square-animation
        will-change: transform
        &-enter 
            opacity: 0
            transform: translateY(3px)
        &-enter-active
            opacity: 1
            transform: translateY(0)
            transition: opacity 300ms, transform 300ms
        &-exit 
            opacity: 1
            transform: translateY(0px)
        &-exit-active 
            opacity: 0
            transform: translateY(3px)
            transition: opacity 300ms, transform 300ms