@import '../../variables.sass'

.sidebar
    position: sticky
    top: 20px
    &__link
        display: block
        color: $color-grey
        text-decoration: none
        &_active
            color: $color-purple
        &:hover
            color: $color-black
@media screen and (max-width: $mobileMaxWidth - 1)
    .sidebar
        position: static